
@font-face
  font-family 'Segoe UI Light'
  src url('../fnt/segoeuil.ttf') format('truetype'), url('../fnt/segoeuil.eot') format('eot')
  font-weight normal
  font-style normal

@font-face
  font-family 'Segoe UI Normal'
  src url('../fnt/segoeui.ttf') format('truetype'), url('../fnt/segoeui.eot') format('eot')
  font-weight normal
  font-style normal

@font-face
  font-family 'Segoe UI Bold'
  src url('../fnt/segoeuib.ttf') format('truetype'), url('../fnt/segoeuib.eot') format('eot')
  font-weight normal
  font-style normal

@font-face
  font-family 'Segoe UI Cursive'
  src url('../fnt/segoeuii.ttf') format('truetype'), url('../fnt/segoeuii.eot') format('eot')
  font-weight normal
  font-style normal

