
segoe = {
  'segoeuil': 'Segoe UI Light',
  'segoeui': 'Segoe UI Normal',
  'segoeuib': 'Segoe UI Bold', 
  'segoeuii': 'Segoe UI Cursive'
}


proxima = {
  'proximanovabold': 'Proxima Nova Bold',
  'proximanovalight': 'Proxima Nova Light',
  'proximanovareg': 'Proxima Nova Regular', 
  'proximanovasbold': 'Proxima Nova Sbold',
  'proximanovathin': 'Proxima Nova Thin'
}

for file, name in segoe
  @font-face
    font-family name
    src url('../fnt/' + file + '.ttf') format('truetype'), url('../fnt/' + file + '.eot') format('eot')
    font-weight normal
    font-style normal

for file, name in proxima
  @font-face
    font-family name
    src url('../fnt/' + file + '.ttf') format('truetype'), url('../fnt/' + file + '.eot') format('eot')
    font-weight normal
    font-style normal
