
segoe_light = 'Segoe UI Light'
segoe_normal = 'Segoe UI Normal'
segoe_bold = 'Segoe UI Bold'
segoe_cursive = 'Segoe UI Cursive'

proxima_bold = 'Proxima Nova Bold'
proxima_light = 'Proxima Nova Light'
proxima_regular = 'Proxima Nova Regular'
proxima_sbold = 'Proxima Nova Sbold'
proxima_thin = 'Proxima Nova Thin'




c_black1 = #000000
